:root {
  --body-background-color: rgba(13, 17, 23, 0.95);
  --body-text-color: #f0ffff;
  --card-background-color: #303846;
  --nav-background-color: #242526;
  --nav-border-bottom-color: #242526;
  --nav-current-border-bottom-color: #1abc9c;
  --card-border-color: #4b5756;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #8a8c91;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
body {
    font-family: 'Open Sans', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}
h1, h2, h3, h4, h5 {
    font-weight: 500 !important;
}
nav, header, footer {
    display: none !important;
}
.container {
    margin-top: 2em !important;
}
